/* Declaration of variables CSS */
:root {
    --colorUno: #FFFFFF;
    --colorDos: #00A8A8;
    --colorTres: #2FE5E4;
    --colorCuatro: #293A4E;
    --colorCinco: #000000;
    --fuentePrincipal: "Roboto", sans-serif;
    --fuenteSecundaria: "Lato", sans-serif;
}


/* General styles for the document HTML  */
*{
    box-sizing: border-box;
}

html {
    background-color: var(--colorUno);
}

body{
    font-family: var(--fuentePrincipal);
}

*{
    box-sizing: border-box;
}


/* Styles for containers */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    
}
/* Styles for img */
img {
    display: block;
    max-width: 100%;
}
/* Styles for buttons */
.button{
    display: block;
    background-color: var(--colorDos);
    padding: 1rem; 
    color: white;
    border-radius: 2rem;
    transition: background-color 0.5s ease
}
.button:hover{
    background-color: var(--colorCuatro);
}
/*: Styles for Section Navbar */

.navbar__container {
    text-align: center;
    padding-top: 1rem;
}



@media (width > 768px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
    }
}

.navbar__logo{
    color: var(--colorCinco);
    cursor: pointer;
    margin: 0;
}

.navbar__logo--primary{
    color: var(--colorDos);
}

ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

ul li a{
    color: var(--colorCinco);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}

ul li:last-child a{
    color: var(--colorDos);
    font-weight: 700;
}

ul li a:hover{
    text-decoration: underline;
    color: var(--colorDos);
}

/* Styles for section main */
main{
    background-color: var(--colorCuatro);
}
.hero__text{
    border: 5px solid rgb(219, 168, 219);
    text-align: center;
    font-size: 19px;
    color: var(--colorUno);
    padding: 1rem;
}

.hero__title{
    color:var(--colorDos);
}

.hero__button{
    text-decoration: none;
    border: 2px solid var(--colorDos);
}

.hero__img{
    border: 5px solid red;;
}

.hero__services{
    border: 5px solid orange;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 1rem;
}

.services{
    border: 2px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--colorUno);
    font-size: 1.2rem;
    font-weight: 600;
}

.bx{
    font-size: 2.5rem;
    color: var(--colorTres);
}

@media (width>768px){
    .hero{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .hero__text,
    .hero__img{
        width: 50%;
    }
    .hero__services{
        flex: 1;
    }
    .hero__text{
        text-align: left;
        font-size: 2rem;
        padding-left: 2rem;
    }
    .hero__button{
        font-size: 1.5rem;
        text-align: center;
        max-width: 14rem;
    }
    .services{
        font-size: 2rem;
    }
    .bx{
        font-size: 3rem;
    }   
}

/* Styles for section about  */
.about{
    border: 2px solid green;
    margin: 3rem 5rem;
}
.about__container{
    border: 1px solid blue;
}
.about__img{
    border: 1px solid red;
}
.about__title{
    margin-top: 0;
    text-align: center;
    font-size: 2rem;
    color: var(--colorCuatro);
}
.about__text{
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    color: var(--colorCinco);
    line-height: 1.5;
    padding: 0 2rem;
}
.about__img{
    display: none;
}

@media (width>768px){
    .about__img{
        display: block;
    }
    .about{
        display: flex;
        gap: 1rem;
    }
    .about__container,
    .about__img{
        width: 50%;
        height: 20rem;
    }
    .about__img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about__title{
        font-size: 3rem;
    }
}

/* Styles for products */
.products{
    border: 2px solid black;
    background-color: var(--colorCuatro);
}
.products__title{
    text-align: center;
    font-size: 2rem;
    color: var(--colorUno);
    padding-top: 3rem;
}
.products__text{
    text-align: center;
    font-size: 1rem;
    color: var(--colorUno);
    line-height: 1.5;
}
.container{
    border: 1px solid silver;
}

.products__container{
    border: 2px solid orange;
    width: fit-content;
    margin: 0 auto;
}
.product{
    border: 1px solid yellow;
    margin: 2rem 0;
    max-width: 20rem;
    color: var(--colorUno);
}
.product p{
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 .3rem;
}
.product a{
    margin: 0 .3rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;

}

@media (width>760px){
    .products__container{
        display: flex;
        justify-content: center;
        gap: 3rem;
        flex-wrap: wrap;
    }
    .product{
        margin: 0;
    }
    .product a{
        font-size: 1rem;
    }
    .products__title{
        font-size: 3rem;
        margin: 0;
    }
    .products__text{
        font-size: 1.3rem;
        font-weight: 400;
    }
}
    
/*Styles for section app*/
.app{
    border: 2px solid green;
}
.mobile{
    border: 2px solid orange;
    text-align: center;
    margin-bottom: 3rem;  /*parte inferior con separación entre las cajas*/
}
.mobile__description{
    font-size: 1rem;  
    line-height: 1.5;  /*Separacion de parrafo en 1.5*/
    font-weight: 500; 
}
.mobile__buttons{
    border: 2px solid blue;
    display: flex;  /*se colocan uno a lado del otro*/
    justify-content: center;
    flex-wrap: wrap; /*Automaticamente si no alcanza en dispositivos pequeños pues se ubican uno abajo del otro*/
    gap: 1rem; /*Separacion en imagenes*/
}
.mobile__buttons:hover{
    cursor: pointer;
}
.mobile__img{
    border: 2px solid lightblue;
    height: 26rem;
    overflow: hidden; /*Evita que la imagen se desborde*/
}
@media(width>=768px){
    .app{
        display: flex; /*Uno a lado del otro las cajas*/
        margin-top: 3rem;
        gap: 2rem;
        justify-content: center;
    }
    .mobile__title{
        font-size: 2.5rem; /*Tamaño del titulo*/
        text-transform: uppercase;  /*Mayúsculas*/
    }
    .mobile__description{
        font-size: 1.1rem; /*Tamaño de fuente*/
        line-height: 1.5; /*Separacion de los párrafos*/
        text-align: justify;
    }
    .mobile{
        order: 2; /*la imagen se*/
        display: flex; /*Por default de izquierda a derecha*/
        flex-direction: column; /*Con esto las cjaas se colocan en columnas*/
        justify-content: space-evenly; /*Las cajas se distribuyen equitativamente*/
        max-width: 50%; /*Ancho*/
    }
    .mobile__img{
        height: 28rem; /*Alto*/

    }
}


/*Styles for section GALLERY*/
.gallery{
    background-color: var(--colorCuatro);
    height: 20rem;
    text-align: center;
    color: var(--colorUno);
    margin-bottom: 3rem; /*Separacion en la parte superior*/
}
.gallery__title{
    border: 2px solid red;
    margin: 0; 
    font-size: 2rem;
    padding-top: 2rem; /*Separacion automatica en la parte superior*/

}
.gallery__description{
    font-size: 1rem;
    line-height: 1.5;
}
@media(width>=768px){
    .gallery__title{
        font-size: 3rem;
    }
    .gallery__description{
        font-size: 1.2rem;
    }
}

/*Section Contact*/
.contact{
    border: 2px solid black;
    margin-bottom: 2rem;
}
.contact__form{
    border: 2px solid orange;
    background-color: rgb(166, 166, 166,0.17);
    padding: 1rem;
    margin: 2rem 0;
}
.contact__title{
    text-align: center;
    font-size: 1.2rem;
}
.contact__form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact__form input,
.contact__form textarea,
.checkbox__label input[type="checkbox"]{
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;  /*Para que no sea tan cuadrada la caja o borde*/
    font-weight: 600;
    color: var(--colorCinco);
    background-color: rgba(217, 217, 217,1);
}

.checkbox__label{
    font-weight: 600;
}
.contact__form form button{
    align-self: flex-end;
    border: 1px solid var(--colorDos);
    width: 6rem; /*Ancho de la caja*/
}
.contact__map{
    border: 2px solid silver;
}
.contact__map iframe{
    width: 100%;
    height: 100%;
}
@media(width>=768px){
    .contact{
        display: flex;
        gap: 2rem;
    }
    .contact__form,
    .contact__map{
        width: 50%;
    }
    .contact__form{
        margin: 0;  /*Quitando margen*/
    }
}

/* Section Footer */
.footer{
    background-color: var(--colorCuatro);
}
.footer__container{
    border: 2px solid silver;
    padding: 1rem;
}
.footer__social h3,
.footer__link h3,
.footer__contact h3{
    color: var(--colorTres);
    font-weight: 400;
    font-size: 1rem;
}
.social__icons{
    border: 1px solid red;
    text-align: center;
}
.fa-brands{ /*Librería de estilo general*/
    color: var(--colorUno);
    font-size: 1.5rem;
    margin: 0 1rem; /*Arriba 0, izquierda y derecha 1rem */
}
/*Links*/
.links{
    border: 1px solid yellow;
    text-align: center;
}
.links a{
    display: block; /*Todos los elementos en bloque*/
    margin: .5rem 0; /*Cada caja con separaciones */
    color: var(--colorUno);
    text-decoration: none; 
}
.call,
.write{
    text-align: center;
    color: var(--colorUno);
}
hr{
    border: 2px solid var(--colorDos);
}
.footer__copy{
    border: 2px solid orange;
    color: var(--colorUno);
    text-align: center;
    margin: 0;
    padding: 1rem;
}

@media(width>=768px){
    .footer__container{
        display: flex;
        justify-content: space-between;
        padding: 0 4rem;
    }
    .social__icons,
    .links,
    .call,
    .write{
        text-align: left;
    }
}
/* Code CSS for your project */